body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    height: 100vh;
}

.display-none {
    display: none;
}

.wrapper {
    color: blue;
    font-size: 15px;
    font-family: sans-serif;
    height: 100%;
}

.wrapper h1 {
    margin-left: 2vw;
}

.chat {
    margin: 0 10vw;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.4);
    border: 1px solid #939393;
    border-radius: 5px;
    height: 80%;
    width: 80%;
    display: block;
}

.header {
    height: 10%;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #939393;
    display: flex;
    justify-content: space-between;
    color: #29446b
}

.chat-name {
    font-size: 20px;
    font-weight: bold;
}

.header p {
    margin: auto 20px;
}

.last-message-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.message-list {
    box-shadow: 0px 0px 5px 0px rgba(62, 154, 156, 0.3) inset;
    height: calc(70% - 2vh);
    padding: 1vh 0;
    overflow: scroll;
}

.message-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0;
}

.your {
    flex-direction: row-reverse;
    color: red;
}

.message {
    width: 50%;
    background: linear-gradient(#fcfcfc, #effbfb);
    border-radius: 9px;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.3);
}

.editor-wrapper {
    height: 50px;
    padding-right: 50px;
}

.editor-wrapper form {
    width: 40%;
    display: flex;
    padding: 3px;
    margin-left: auto;
}

.editor-wrapper input {
    width: 70%;
    margin: 3px;
}

.edit {
    width: calc(30% - 12px);
    margin: 3px;
    cursor: pointer;

}

.delete {
    border: 1px solid #7c7c7c;
    background-color: rgba(255, 227, 229, 0.99);
    border-radius: 3px;
    color: black;
    text-align: center;
    cursor: pointer;

}

.delete:hover {
    background-color: rgba(249, 185, 193, 0.99);
}

.message-text {
    margin: 10px 8px;
    color: #343d69;
    word-wrap: break-word;
}

.message-date {
    font-size: 9px;
    color: #858585;
    margin: 3px;
    text-align: right;
}

.avatar {
    background-color: blue;
    height: 35px;
    width: 35px;
    border-radius: 200px;
    margin: 0 10px;
    box-shadow: 0px 0px 3px 1px rgba(4, 0, 87, 0.99);
}

.username {
    margin: 2px 6px;
    font-weight: bold;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
}

.input {
    height: 20%;
    border-radius:  0 0 5px 5px;
    border-top: 1px solid #939393;
    padding: 5px;
}

.input form {
    height: calc(50% - 10px);
    display: flex;
    justify-content: space-between;
}

.input input {
    width: 85%;
    margin: 5px;
    height: 20px;
}

.input p {
    margin: auto 10px;
}

.send {
    margin: 7px 5px;
    width: calc(15% - 20px);
    height: 20px;
    cursor: pointer;
}

.like {
    background: url('https://image.flaticon.com/icons/svg/929/929559.svg');
    width: 20px;
    height: 20px;
    margin: auto 20px;
}
.red {
    background: url('https://image.flaticon.com/icons/svg/535/535183.svg');
}

.gear {
    width: 13px;
    height: 13px;
    background-image: url('https://image.flaticon.com/icons/svg/929/929435.svg');
    margin: 0 0 auto auto;
    cursor: pointer;

}

.cart {
    width: 13px;
    height: 13px;
    color: #858585;
    font-size: 0.8em;
    margin-right: 45px;
    cursor: pointer;
    font-weight: lighter;
}

.cart:hover {
    text-decoration: #858585 underline;
}

.on-wrap {
    display: flex;
}

.edit-bg {
    position: absolute;
    top: 200px;
    left: calc(50% - 175px);
    width: 350px;
    background: white;
    border: 1px solid #535353;
}

.edit-bg p {
    margin: 15px;
}

.edit-input {
    margin: 10px;
    width: 260px;
}

.edit-arrow {
    margin: 7px;
    height: 20px;
    width: 20px;
    background-color: #343d69;
}